<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
  <title>Rejestr Stanu Cywilnego - O nas</title>
  <style>

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #f2f2f2;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .horizontal-tabs {
      display: flex;
      align-items: center; /* Center vertically within the nav */
      justify-content: flex-start; /* Align items from left to right */
      margin-left: auto; /* Push the Logout tab to the right */
    }

    .horizontal-tabs li {
      margin-right: 20px;
    }

    .horizontal-tabs li:last-child {
      margin-right: 0; /* Remove right margin from the last tab */
    }

    .horizontal-tabs li a {
      text-decoration: none;
      color: #333;
      padding: 5px;
    }

  .logout-tab {
    margin-left: auto; /* Push the Logout tab to the right */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }

  img.logo {
    height: 120px;
    margin-right: 50px;
  }

  section {
    margin: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }

  button:hover {
    background-color: #45a049;
  }


  .tab {
    margin: 0 10px;
    cursor: pointer;
    color: white;
  }
  .tab-content {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  #HomeContent {
    display: block;
    position: relative;
  }
  .home-content-box {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Change from absolute to relative positioning */
    margin: 0 auto; /* Add margin to center horizontally */
    max-width: 600px; /* Add a maximum width for better readability */
  }
  </style>
</head>

<body>
  <header class="header-center">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo aplikacji" class="logo">
    {% include 'navbar.html' %}
  </header>

  <div class="tab-content" id="HomeContent">
    <h1>O nas</h1>
  </div>

  <div class="home-content-box">
    <h2>Czym są Akty Stanu Cywilnego?</h2>
    <p>Akty Stanu Cywilnego to urzędowe dokumenty, które rejestrują najważniejsze wydarzenia życiowe, takie jak urodzenia, małżeństwa i zgony. Stanowią one niezastąpioną bazę informacji, na której opiera się prowadzenie różnorodnych analiz społecznych, naukowych badań, jak również badań genealogicznych. To właśnie w tych aktach odzwierciedla się historia jednostki oraz całej społeczności.</p>

    <h3>Różnorodność Akcji Stanu Cywilnego:</h3>
    <ol>
        <li>
            <h4>Akty Urodzenia:</h4>
            <p>Akty urodzenia rejestrują moment narodzin osoby. Zawierają informacje o imieniu, dacie oraz miejscu urodzenia. To nie tylko dokument potwierdzający fakt narodzin, ale również źródło informacji o genealogii i pokrewieństwie.</p>
        </li>
        <li>
            <h4>Akty Małżeństwa:</h4>
            <p>Akty małżeństwa rejestrują zawarcie związku małżeńskiego. Zawierają dane o nowożeńcach, datę ślubu oraz miejsce zawarcia małżeństwa. To ważne źródło informacji o historii rodzinnych więzi.</p>
        </li>
        <li>
            <h4>Akty Zgonu:</h4>
            <p>Akty zgonu dokumentują fakt śmierci osoby. Zawierają informacje o dacie, miejscu zgonu oraz przyczynie. Są to istotne dane do analiz demograficznych oraz badań medycznych.</p>
        </li>
    </ol>

    <h3>Zarządzanie Aktami Stanu Cywilnego:</h3>
    <p>Akty Stanu Cywilnego są zarządzane przez odpowiednie urzędy lub instytucje w poszczególnych krajach. W Polsce, na przykład, za rejestrowanie i przechowywanie tych dokumentów odpowiada Urząd Stanu Cywilnego. To w nim gromadzone są dane dotyczące narodzin, małżeństw i zgonów obywateli.</p>

    <h3>Znaczenie dla Społeczeństwa:</h3>
    <p>Akty Stanu Cywilnego stanowią kamień węgielny społeczeństwa. Oferują nie tylko legalne potwierdzenie zdarzeń życiowych, ale także pozwalają na badanie zmian społecznych, migracji, struktury rodzin i innych kluczowych aspektów. Wspólnie z danymi demograficznymi stanowią podstawę dla podejmowania decyzji w obszarach takich jak polityka społeczna, medycyna, a także badania naukowe.</p>

    <p><strong>Podsumowanie:</strong></p>
    <p>Akty Stanu Cywilnego są nieodłącznym elementem naszego życia. To w nich zawierają się historie naszych narodzin, miłości, małżeństw i pożegnań. Stanowią źródło, dzięki któremu możemy sięgnąć w przeszłość i zrozumieć, jak zmieniało się społeczeństwo na przestrzeni lat. Ich zarządzanie jest niezwykle istotne dla prawidłowego funkcjonowania państwa i badania jego historii. Dlatego też tab "O nas" pełni rolę klucza do otwierania tajemnic przeszłości, na której budowana jest przyszłość.</p>
  </div>

</body>

</html>
