<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
    <title>Account Activation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }

        h1 {
            color: #333;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            max-width: 200px;
            height: auto;
        }

        .message {
            margin-bottom: 20px;
        }

        .link {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <h1>Wymagane aktywowanie konta</h1>
        <div class="message">
            <p>Witaj {{ name }},</p>
            <p>Twoje konto musi zostać aktywowane przez urzędnika rejestru stanu cywilnego.</p>
            <p>Skontaktuj się z najbliższym urzędnikiem rejestru stanu cywilnego w celu autoryzacji i aktywowania konta.</p>
        </div>
        <div class="link">
            <p><a href="https://www.gov.pl/web/mswia/urzedy-stanu-cywilnego">Kliknij tutaj</a> aby przejść do listy urzędów stanu cywilnego.</p>
        </div>
    </div>
</body>
</html>
