<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
  <title>Rejestr Stanu Cywilnego - Dodawanie zdarzeń</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #f2f2f2;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .horizontal-tabs {
      display: flex;
      align-items: center; /* Center vertically within the nav */
      justify-content: flex-start; /* Align items from left to right */
      margin-left: auto; /* Push the Logout tab to the right */
    }

    .horizontal-tabs li {
      margin-right: 20px;
    }

    .horizontal-tabs li:last-child {
      margin-right: 0; /* Remove right margin from the last tab */
    }

    .horizontal-tabs li a {
      text-decoration: none;
      color: #333;
      padding: 5px;
    }

      .logout-tab {
        margin-left: auto; /* Push the Logout tab to the right */
      }

      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      nav ul li {
        margin-right: 10px;
      }

      nav ul li a {
        text-decoration: none;
        color: #333;
        padding: 5px;
      }

      img.logo {
        height: 120px;
        margin-right: 50px;
      }

      section {
        margin: 20px;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      label {
        font-weight: bold;
        margin-right: 10px;
      }

      input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      button {
        padding: 5px 10px;
        background-color: #4CAF50;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
      }

      button:hover {
        background-color: #45a049;
      }


      .tab {
        margin: 0 10px;
        cursor: pointer;
        color: white;
      }
      .tab-content {
        display: none;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      #HomeContent {
        display: block;
        position: relative;
      }
      .home-content-box {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative; /* Change from absolute to relative positioning */
        margin: 0 auto; /* Add margin to center horizontally */
        max-width: 600px; /* Add a maximum width for better readability */
      }

      .form-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
       }

      .form-column {
          flex: 1;
          padding: 10px;
      }

      .form-column label {
          display: block;
          margin-bottom: 5px;
      }

      .form-column input,
      .form-column select,
      .form-column textarea {
          width: 100%;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }
  </style>
</head>

<body>
  <header class="header-center">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo aplikacji" class="logo">
    {% include 'navbar.html' %}
  </header>

  <div class="tab-content" id="HomeContent">
    <h1>Urzędniku, dodaj nowe zdarzenie stanu cywilnego!</h1>
  </div>


    <div class="home-content-box">
    <section>
      <form action="{{ url_for('create_event') }}" method="POST" enctype="multipart/form-data">
        <div class="form-container">
          <div class="form-column">
            <label for="person_id">ID osoby:</label>
            <input type="text" id="person_id" name="person_id" required>
          </div>
          <div class="form-column">
            <label for="event_date">Data i godzina:</label>
            <input type="datetime-local" id="event_date" name="event_date" required>
          </div>
        </div>
        <div class="form-container">
          <div class="form-column">
            <label for="event_type">Typ zdarzenia:</label>
            <select id="event_type" name="event_type">
              <option value="1">Urodzenie</option>
              <option value="2">Zgon</option>
              <option value="3">Ślub</option>
            </select>
          </div>
          <div class="form-column">
            <label for="second_person_id">ID drugiej osoby (opcjonalne):</label>
            <input type="text" id="second_person_id" name="second_person_id">
          </div>
        </div>
        <div class="form-container">
          <div class="form-column">
            <label for="event_description">Opis zdarzenia:</label>
            <textarea id="event_description" name="event_description" required></textarea>
          </div>
          <div class="form-column">
            <label for="event_document">Dokument (tylko PDF):</label>
            <input type="file" id="event_document" name="event_document" accept=".pdf">
          </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit">Zatwierdź</button>
      </form>
    </section>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
  </div>

</body>

</html>
