<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
  <title>Rejestr Stanu Cywilnego</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #f2f2f2;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .horizontal-tabs {
      display: flex;
      align-items: center; /* Center vertically within the nav */
      justify-content: flex-start; /* Align items from left to right */
      margin-left: auto; /* Push the Logout tab to the right */
    }

    .horizontal-tabs li {
      margin-right: 20px;
    }

    .horizontal-tabs li:last-child {
      margin-right: 0; /* Remove right margin from the last tab */
    }

    .horizontal-tabs li a {
      text-decoration: none;
      color: #333;
      padding: 5px;
    }

  .logout-tab {
    margin-left: auto; /* Push the Logout tab to the right */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }

  img.logo {
    height: 120px;
    margin-right: 50px;
  }

  section {
    margin: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }

  button:hover {
    background-color: #45a049;
  }


  .tab {
    margin: 0 10px;
    cursor: pointer;
    color: white;
  }
  .tab-content {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  #HomeContent {
    display: block;
    position: relative;
  }
  .home-content-box {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Change from absolute to relative positioning */
    margin: 0 auto; /* Add margin to center horizontally */
    max-width: 600px; /* Add a maximum width for better readability */
  }
  </style>
</head>

<body>
  <header class="header-center">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo aplikacji" class="logo">
    {% include 'navbar.html' %}
  </header>

  <div class="tab-content" id="HomeContent">
    <p>Jeśli masz jakieś pytania, skontaktuj się z nami:</p>
    <p>Adres e-mail: kontakt@rejestrstanucywilnego.pl</p>
    <p>Numer telefonu: 789-456-123</p>
    <p>Zapraszamy również do najbliższego oddziału!</p>
  </div>

</body>

</html>
