<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
  <title>Rejestr Stanu Cywilnego</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #f2f2f2;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .horizontal-tabs {
      display: flex;
      align-items: center; /* Center vertically within the nav */
      justify-content: flex-start; /* Align items from left to right */
      margin-left: auto; /* Push the Logout tab to the right */
    }

    .horizontal-tabs li {
      margin-right: 20px;
    }

    .horizontal-tabs li:last-child {
      margin-right: 0; /* Remove right margin from the last tab */
    }

    .horizontal-tabs li a {
      text-decoration: none;
      color: #333;
      padding: 5px;
    }

  .logout-tab {
    margin-left: auto; /* Push the Logout tab to the right */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }

  img.logo {
    height: 120px;
    margin-right: 50px;
  }

  section {
    margin: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }

  button:hover {
    background-color: #45a049;
  }


  .tab {
    margin: 0 10px;
    cursor: pointer;
    color: white;
  }
  .tab-content {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  #HomeContent {
    display: block;
    position: relative;
  }
  .home-content-box {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Change from absolute to relative positioning */
    margin: 0 auto; /* Add margin to center horizontally */
    max-width: 600px; /* Add a maximum width for better readability */
  }
  </style>
</head>

<body>
  <header class="header-center">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo aplikacji" class="logo">
    {% include 'navbar.html' %}
  </header>

    <div class="tab-content" id="HomeContent">
      {% if user_role == 2 %}
        <h1>Urzędniku witaj w aplikacji rejestru stanu cywilnego!</h1>
      {% elif user_role == 3 %}
        <h1>Administratorze witaj w aplikacji rejestru stanu cywilnego!</h1>
      {% else %}
        <h1>Witaj w aplikacji rejestru stanu cywilnego!</h1>
      {% endif %}
    </div>


  <div class="home-content-box">
    <p>Rejestr stanu cywilnego jest rejestrem centralnym prowadzonym przez ministra właściwego ds. informatyzacji w systemie teleinformatycznym.</p>
    <p>W rejestrze stanu cywilnego oznacza się akty stanu cywilnego odrębnie dla każdego rodzaju zdarzenia: urodzenia, małżeństwa, zgonu.</p>
    <p>W rejestrze stanu cywilnego prowadzi się również rejestr uznań.</p>
    <p>Akt stanu cywilnego to wpis o urodzeniu, małżeństwie albo zgonie w rejestrze stanu cywilnego uzupełniony o treść późniejszych wpisów, które mają wpływ na treść lub ważność tego aktu.</p>
    <p>Akt stanu cywilnego sporządza się z chwilą dokonania wpisu o urodzeniu, małżeństwie albo zgonie w rejestrze stanu cywilnego.</p>
    <p>Rejestr stanu cywilnego umożliwia:</p>
    <ul>
        <li>rejestrację aktów urodzenia,</li>
        <li>rejestrację aktów małżeństwa,</li>
        <li>rejestrację aktów zgonu.</li>
    </ul>
    <p>Co załatwisz dzięki Rejestrowi Stanu Cywilnego?</p>
    <p>Nie wychodząc z domu, można załatwić m.in. następujące sprawy:</p>
    <ul>
        <li>osoba, której dotyczy akt stanu może sprawdzić dostępne akty stanu cywilnego</li>
        <li>osoba, której dotyczy akt stanu cywilnego może przy użyciu usługi elektronicznej pobrać odpis aktu stanu cywilnego.</li>
    </ul>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

</body>

</html>
