<nav>
  <ul class="horizontal-tabs">
    {% if user_role == 1 %}
      <li><a href="/home">Strona Główna</a></li>
      <li><a href="/registry-search">Wyszukiwanie</a></li>
      <li><a href="/contact">Kontakt</a></li>
      <li><a href="/about">O nas</a></li>
    {% elif user_role == 2 %}
      <li><a href="/home">Strona Główna</a></li>
      <li><a href="/add-event">Dodawanie danych</a></li>
      <li><a href="/remove-event">Usuwanie danych</a></li>
      <li><a href="/recovery-data">Odzyskiwanie danych (odczyt)</a></li>
      <li><a href="/access-control">Kontrola dostępu (odczyt)</a></li>
      <li><a href="/search-users">Wyszukiwanie zdarzeń </a></li>
      <li><a href="/audit-log">Dziennik kontroli (odczyt)</a></li>
    {% elif user_role == 3 %}
      <li><a href="/home">Strona Główna</a></li>
      <li><a href="/recovery-data">Odzyskiwanie danych</a></li>
      <li><a href="/access-control">Kontrola dostępu</a></li>
      <li><a href="/search-users">Wyszukiwanie zdarzeń</a></li>
      <li><a href="/audit-log">Dziennik kontroli</a></li>
    {% endif %}
    <li class="logout-tab"><a href="{{ url_for('logout') }}">Wyloguj</a></li>
  </ul>
</nav>
