<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
        }

        .container {
            max-width: 300px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #cccccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #ffffff;
            cursor: pointer;
        }

        .flashes {
            margin-top: 20px;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        .flashes li {
            margin-bottom: 10px;
        }

        .bottom-link {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Strona rejestracji</h1>

    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Adres e-mail:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="name">Imię:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="surname">Nazwisko:</label>
                {{ form.surname }}
            </div>
            <div class="form-group">
                <label for="pesel">Numer pesel:</label>
                {{ form.pesel }}
            </div>
            <div class="form-group">
                <label for="birth_date">Data urodzenia:</label>
                {{ form.birth_date }}
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="bottom-link">
        <a href="{{ url_for('login') }}">Masz już konto? Zaloguj się</a>
    </div>
</body>

</html>
